- photolink = "/photography.html"
- index ="/"
- about ="/about.html"

- threedee ="/threedee.html"

nav#nav

    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")
     
    
    div.nav-holder
        a#nav-home.name-link.name-expand.nav-tilt(href="/index.html")
            |Ali

    #desk-nav   

     
        #nav-links
            |#[a(href=index class="nav-tilt" ) design]

            |#[a(href=photolink  class="nav-tilt") photo]
            |#[a(href=threedee class="nav-tilt" ) threedee]

            |#[a(href=about  class="nav-tilt") who?]

        #nav-theme-toggle  
            input(id="adjust", name="modeToggle", type="checkbox") 
            label#modeLbl(for="adjust" class="nav-tilt")      
            //- input(id="font", name="fontToggle", type="checkbox") 
            //- label#fontLbl(for="font")      
        //- div |
        //- #nav-font-toggle
 
        
    #side-nav    
        
        a.fal.fa-angle-double-up.nav-tilt.name-link#pull-up(href="#" )  
