- photolink = "/photography.html"
- index ="/"
- about ="/about.html"

- threedee ="/threedee.html"

nav#nav2

    input#menu-input(name="menu-input" type="checkbox")
    label#menu-label(for="menu-input")
     
    
    div.nav-holder
        a#nav-home.name-link.name-expand.nav-tilt(href="/index.html")
            |Ali

    #desk-nav   

    
        #nav-links
            |#[a(class="nav-tilt" href=index) design]

            |#[a(class="nav-tilt" href=photolink) photo]
            |#[a(class="nav-tilt" href=threedee) threedee]

            |#[a(class="nav-tilt" href=about) who?]

        #nav-theme-toggle  
            input(id="adjust", name="modeToggle", type="checkbox") 
            label#modeLbl(class="nav-tilt" for="adjust")      
            //- input(id="font", name="fontToggle", type="checkbox") 
            //- label#fontLbl(for="font")      
        //- div |
        //- #nav-font-toggle
 
        
    #side-nav    
        
        a.fal.fa-angle-double-up.nav-tilt.name-link#pull-up(href="#" )  
