//- ---------JQUERY
script(type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js' crossorigin="anonymous")
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

//- ------LAZYLOAD INTERSECTION OBESERVER BACK-COMP
<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
//- ------VANILLA LAZYLOAD
script(src='https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js')


//- vanilla tilt

//- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>

//- 
<script type="text/javascript" src="js/vanilla-tilt.min.js"></script>

//- <script src="js/lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="js/slick/slick.min.js"></script>
//- <script type="text/javascript" src="js/touch.js"></script>
     

//- <script src="js/grained.min.js"></script>

//- svg filters
<svg viewBox="0 0 600 400" width="0" height="0" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <filter id="text-distort">
    
    <!-- f802ea04-994f-4568-b931-77d920e97182 -->
<feTurbulence baseFrequency="0.2,0.6" numOctaves="3" seed="0.2" stitchTiles="stitch" result="f802ea04-994f-4568-b931-77d920e97182"></feTurbulence>
<!-- b48754e7-ba3f-4513-bfa8-73d1a596ca5a -->
<feDisplacementMap in="SourceGraphic" in2="f802ea04-994f-4568-b931-77d920e97182" scale="5" xChannelSelector="R" yChannelSelector="B" result="b48754e7-ba3f-4513-bfa8-73d1a596ca5a"></feDisplacementMap>  </filter>
  </defs>
</svg>

 
//- < !--Default Statcounter code for my portfolio http://aliasgers.space -->
<script type="text/javascript">
var sc_project=12720213; 
var sc_invisible=1; 
var sc_security="ed16c82c"; 
</script>
<script type="text/javascript"src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12720213/0/ed16c82c/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
//- //- <!--End of Statcounter Code-- >  