file(name, ext, path)
   path + '/' + name + '.' + ext

// font-face(family, font=family, path='.../webfonts', weight=, style)
//    @font-face
//       font-family family
//       font-style style 
//       font-weight weight
//       src url(file(font, 'woff2', path)) format("woff2"),
//          url(file(font, 'woff', path)) format("woff") 
//          url(file(font, 'eot', path)) format("eot") 
//          url(file(font, 'otf', path)) format("opentype")
            
// @font-face
//    font-family Geo
//    font-style normal
//    src url(fonts/geo_sans_light/GensansLight.ttf)


@font-face 
   font-family: "grafier variable";
   src: url("../webfonts/Grafier/Grafier-Variable.woff2") format("woff2 supports variations"), url("../webfonts/Grafier/Grafier-Variable.woff2") format("woff2-variations"), url("../webfonts/Grafier/Grafier-Variable.woff") format("woff supports variations"), url("../webfonts/Grafier/Grafier-Variable.woff") format("woff-variations");

   font-weight: 400 900;
   font-display: swap;
   font-style: normal;



// webfonts\Grafier\Grafier-RegularDisplay.otf

font-face("grafier","Grafier-RegularDisplay", "/webfonts/Grafier/", 400, normal)

@font-face {
  src: url('../webfonts/forma/FormaDJRVariable-VF-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRVariable-VF-Edu.woff') format("woff");
  font-family: 'FormaDJRVariable';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRVariable-Italic-VF-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRVariable-Italic-VF-Edu.woff') format("woff");
  font-family: 'FormaDJRVariable';
  font-style: italic;
  font-weight: normal;
}



// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-Hairline-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-Hairline-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: normal;
//   font-weight: 200;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-HairlineItalic-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-HairlineItalic-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: italic;
//   font-weight: 100;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-Thin-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-Thin-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: normal;
//   font-weight: 200;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-ThinItalic-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-ThinItalic-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: italic;
//   font-weight: 200;
// }

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-ExtraLight-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-ExtraLight-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: 275;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-ExtraLightItalic-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-ExtraLightItalic-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: 275;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-Light-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-Light-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-LightItalic-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-LightItalic-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: 300;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-Regular-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-Regular-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-Italic-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-Italic-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-Medium-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-Medium-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: 500;
} 

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-MediumItalic-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-MediumItalic-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-Bold-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-Bold-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('../webfonts/forma/FormaDJRDisplay-BoldItalic-Edu.woff2') format("woff2"),
       url('../webfonts/forma/FormaDJRDisplay-BoldItalic-Edu.woff') format("woff");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: bold;
}

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-ExtraBold-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-ExtraBold-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: normal;
//   font-weight: 800;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-BlackItalic-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-BlackItalic-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: italic;
//   font-weight: 800;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-Black-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-Black-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: normal;
//   font-weight: 900;
// }

// @font-face {
//   src: url('../webfonts/forma/FormaDJRDisplay-BlackItalic-Edu.woff2') format("woff2"),
//        url('../webfonts/forma/FormaDJRDisplay-BlackItalic-Edu.woff') format("woff");
//   font-family: 'FormaDJRDisplay';
//   font-style: italic;
//   font-weight: 900;
// }
