widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}
narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}
/*
-------------------VARIABLES------------------
*/
:root
    --grey:rgb(133, 133, 133)
    --light-white: #fff
    --light-white-rgb: 255,255,255;
    
    --light-black:#0B0B0B
    --light-black:#000
    
    --dark-white: #e2e2e2
    --dark-black: #23242A 
    --dark-black-rgb: 30,30,30;
    --space:1rem; 
    --d-space:2rem;
    font-size: 93.8%;
    --side-margin: 1rem 
    --pfont: "Grafier Variable"  
    --sfont: 'General Sans'
    --stdWeight: 380
    --medWeight: 450
    --bigWeight: 530
    
    +narrowerthan(500px)
        --space: 0.8rem
        --d-space: 1.6rem

    // --sfont: 'switzer'

    // --tfont: "Mazius Display Italic"
    // --qfont: "Mazius Display Extra Italic" 
     
    // --tfont: "Messapia"
    // --qfont: "Messapia" 
    
    --tfont: "Grafier"
    // --qfont: "Calvino Grande" 
     

    --blend: lighten
    --exposure: 50%

    --bgcol: var(--dark-black)
    --bgcol-rgb: var(--dark-black-rgb)
    --txtcol: var(--dark-white)    
    --reg: 400 
    --bold: 600 
    --mid: 400

    --lHeight:  1.45
    --stroke: .85px

    --p-std-weight: normal  
     

    --fa-primary-color: var(--txtcol)
    --fa-secondary-color: var(--pcol) 
    --fa-secondary-opacity: 1
    --slctcol var(--purple-light)   

    --lum: 30%;

    --magenta:#FF2079
    --magenta-light: #FF4B93
    --magenta-dark: #C21359 
    --magenta-hlight: rgba(242, 41, 85,.3)
    --pcol: var(--magenta) 
    --slctcol var(--magenta)
    --scol: var(--magenta-light)
    --tcol: var(--magenta-dark)
    --customCol: var(--magenta)

    footer  
        --fa-primary-color var(--bgcol)
 
@css {
:root{
    --purple-hsl: var(--purpleh),var(--purples),var(--purplel);
    --purple-rgb: var(--purpler),var(--purpleg),var(--purpleb)
}
}

/*------------DARK                       MODE------------*/

[data-theme = "light"]
    --blend: darken
    --exposure: 180%
    --lHeight:  1.45
    --txtcol: var(--light-black)
    --bgcol: var(--light-white)
    --bgcol-rgb: var(--light-white-rgb)
    --lum: 70%;  
    --stroke:1px
    --scol: var(--magenta-dark)
    --tcol: var(--magenta-light)
    --stdWeight: 450
    --medWeight: 520
    --bigWeight: 600

// [data-font = "sans"]
//     --sfont: 'Verdana'
//     --pfont: 'Open Sauce Sans'


html
    content: "light"
@media screen and (prefers-color-scheme: dark)
    html
        content: "dark"



:root
    --colA1: #E4E4E6
    --colA2: #1D1D1D
    --colB1: #D0D8E9
    --colB2  #263842
    --colB3  #005999
    --colC1: #D1BCDF
    --colC2: #3C2B3F
    --colC3: #7B24D3
    --colD1: #D6BBCA
    --colD2: #3F2B36
    --colD3: #3F2B36
    --colE1: #F2E4CE
    --colE2: #3D2310
    --colE3: #FF7D04

// [data-theme = "light"]

//     .index-proj
//         --customCol: var(--magenta)

//         --bgcol: var(--colA1)

//     .ux-proj
//         --customCol: var(--magenta)
//         --bgcol: var(--colB1)

//     .graphic-proj        
//         --customCol: var(--magenta)

//         --bgcol: var(--colC1)

//     .threedee-proj
//         --customCol: var(--magenta)
//         --bgcol: var(--colD1)

//     .photo-proj
//         --customCol: var(--magenta)
//         --bgcol:var(--colE1)
        
// [data-theme = "dark"]

//     .index-proj
//         --bgcol: var(--colA2)
//         --customCol: var(--magenta)
//     .ux-proj
//         --bgcol: var(--colB2)
//         --customCol: var(--magenta)

//     .graphic-proj        
//         --bgcol:var(--colB2)
//         --customCol: var(--magenta)

//     .threedee-proj
//         --bgcol:  var(--colB2)
//         --customCol: var(--magenta)

//     .photo-proj
//         --bgcol: var(--colB2)
//         --customCol: var(--magenta)
