widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

.index
    main
    main
        margin-top: 5rem
    section
        display: grid
        grid-template-columns: 1fr
        // grid-template-rows:  repeat(auto,auto)
        grid-row-gap 2rem
        

        .grid-item
            margin 1rem 
            margin-top: 3rem
            display: grid
            will-change: opacity
            .proj-title
                grid-row 2/3
                z-index: 5
                font-size: 2rem
                // opacity .75

                // transition: all 300ms ease-out

                h1
                    font-size: inherit
                    font-family: var(--qfont) 
                    margin: 0
                    line-height: 1
                    padding-bottom: .1em
                    padding-top: .1em

            .project-img
                display: grid
                grid-template: 1fr / 1fr 
                grid-row 1/2
                max-with  100vw
                overflow hidden
                justify-content: center
                will-change: opacity
                img
                    height 50vh   
                    object-fit: cover
                    justify-self: center
                    grid-area: 1 / 2 / 1 / 2
                &::after
                    grid-area: 1 / 2 / 1 / 2
                    content: ''
                    z-index 30
                    opacity 0
                    background-color: var(--pcol) g
                    // transition: all 300ms ease-out
                    mix-blend-mode: hue   


            .genre    
                grid-row 3/4 
                font-size: 1rem
                line-height: 1.2
                margin: .2em
                // opacity .75
                font-size: inherit
                display:inline list-item
                font-family: var(--pfont)


            &:hover,&:focus,&:active

                .project-img::after
                    opacity 100%   
                .proj-title,.genre
                    opacity: .95

    +widerthan(500px)
        main
            section
                // margin 1rem .5rem 0rem 1rem
                // grid-gap: 7rem
                grid-template-columns: 1fr 1fr 1fr
                .grid-item
                    grid-template-columns: .5fr 6fr 9fr 6fr .5fr  
                    margin: 0
                    grid-row 1fr 1fr 1fr
                    grid-row-gap: 0rem
                    align-content: start;    

                    &:nth-child(2n+1)
                        grid-column: 1/3
                        // margin-top: -5rem
                        
                    &:nth-child(2n+2)
                        grid-column: -3/-1
                        
                    
                    
                    .project-img  
                        grid-column: 1/-1
                        // grid-row 1/2
                        // min-height: 15rem
                        align-content: center

                        img
                            // height: 39vh
                            max-height: 45vh
                            width: 100%

                    .proj-title
                        // grid-row 1/2
                        grid-column: 1/-1
                        font-size: 2rem
                        // margin-top: -.7em
                        padding 0 1.5rem

                    .genre
                        // grid-row 2/3
                        grid-column: 1/-1



    +widerthan(1200px)
        main
            section
                margin-top: 10rem
                display: grid
                grid-template-columns: 1fr 1fr 1fr  1fr 1fr 1fr
                grid-row repeat(auto,auto)
                grid-row-gap 2rem 
                grid-column-gap: 8rem
                margin 0 0vw
                

                .grid-item
                
                    margin 0rem 
                    display: grid
                    grid-template-columns: repeat(11,1fr)
                    grid-template-rows:repeat(4, min-content)

                        margin-top: 15rem

                    .project-img
                        grid-column: 1/-1   

                        display: grid
                        height: 22rem  
                        // min-height: 45vh
                        justify-content: center
                        align-content: center
                        img
                            height 100%
                            width 100%
                            object-fit: cover
                            justify-self: center
                            align-self: center
                            max-height: 55vh


                    .genre
                        margin: .2em
                        margin-top .6em
                        // font-size: 1.2rem 
    
                    .proj-title
                        z-index: 5
                        font-size: 3.5rem 
                        // margin-top: -1em 
                        h1 
                            margin: 0
                            line-height: 1
                            padding-bottom: .1em

                    --rad: 0px
                    grid-column-end: span 5

                    &:nth-child(2n+1)
                        grid-column: 1/4
                        

                    &:nth-child(2n+2)
                        grid-column: -4/-1
                        margin-top: 13rem
            


    +widerthan(1400px)
        main
            section
                margin-top: 10rem
                display: grid
                grid-row repeat(auto,auto)
             
.in-progress
    *
        opacity 60%
    // :hover
    //     opacity 60% 
    

    &:hover, &&:focus
        .project-img::after
            opacity 0%   !important

#new-index
    // --temp:--purple
    // --bgcol: --temp !important 
    // background-color: var(--bgcol);
    section#intro
        transform-style: preserve-3d
        transform: perspective(1200px)
        display: grid
        // grid-template-columns: repeat(6,1fr)
        margin-top: 15vh
        // margin-left: 2rem

        grid-template-columns: repeat(12,1fr)
        // +narrowerthan(800px)

        grid-template-rows: 1fr auto
        height: 90vh
        width 100%
        box-sizing: border-box
        padding: 15vh
        .copy
            grid-row: 2/3
            grid-column: 2/4
        h1
            transform: translateZ(100px)
            font-family: var(--pfont)
            justify-self: stretch; 
            align-self: flex-end

            // text-align: center
            vertical-align: top;
            grid-row: 1/2
            grid-column: 2/6
            margin 0
            line-height: 1 
            span 
                font-size: 8vw
                padding-right: .5em
                font-family: inherit
                line-height: inherit
                // font-size: inherit
        h4
            font-family: var(--sfont)
            font-size: 1rem 
            border-top: solid 1px
            &.desc
                grid-column: 2/3
                grid-column-end: 2
                grid-row: 4/5

            &.loc
                grid-column: 2/3
                grid-row: 5/6

        #intro-cover
            
            object-fit: cover
            // right 0
            grid-row: 1/2
            max-height: 100%
            grid-column: 3/-1 
            overflow: none
            mix-blend-mode: darken
    #projects
        margin-top: 15vh
    #expertise, #projects
        display: grid
        grid-template-columns: 1fr 8fr 1fr
         
        // .expertise-list
        //     display: flex 
        h4
            grid-column: 2/3
            text-align: center 
            font-size: 2rem
            font-weight: 500
            font-family: var(--sfont)

        h2.expertise-list
            grid-column: 2/3
            font-family: var(--pfont)
            span
                line-height: 1.25
                font-size: 4.5vw
                +narrowerthan(400px)
                    font-size: 2rem
                font-family: inherit
                // word-wrap: C:\Users\alias\Documents\my_fpw\ali-rasheed.github.io\imgs\photography-lg\people\5.jpgbreak-word
                display: inline 

    #index-grid-2 
        // display: grid
        width: 100%
        display: flexbox
        // grid-template-columns: 1fr 1fr 1fr
        a.grid-item
            display grid
            box-sizing: border-box 
            // box-sizing: content-box 

            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr

            padding 2rem
            +narrowerthan(1000px)
                padding 1.2vw 

            &.item50
                width calc(99vw*.5) 
                +narrowerthan(1000px)
                    width 99vw
            &.item33 
                width calc(99vw*.32) 
                +narrowerthan(1000px)
                    width calc(99vw*.5)
                
            &.item25
                width calc(99vw*.25) 
                +narrowerthan(1000px)
                    width calc(99vw*.5)
             
            .proj-title
                h1 
                    transform: translateZ(20px)
                    font-size: 2.75rem
                    grid-column: 1/-1
                    grid-row: 1/-1
                    margin-top: .5em
                    margin-bottom: .25em 
                    +narrowerthan(1000px)
                        font-size 1.5rem
                        font-weight: 500


                .genre 
                    transform: translateZ(20px)
                    grid-column: 1/-1
                    grid-row: 1/-1
                    text-transform: uppercase
                    +narrowerthan(1000px)
                        font-size: .9rem

            .project-img
                // object-fit: cover 
                grid-column: 1/-1
                grid-row: 1/-1
                img 
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                
            // &:hover
            //     img
            //         transition: filter 500ms ease
                    // filter: blur(1rem)
