widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

.in-progress
    *
        opacity 60%
    // :hover
    //     opacity 60% 


    &:hover, &&:focus
        .project-img::after
            opacity 0%   !important

#new-index
    section
        transition max-height ease 900ms 
        overflow: hidden; 
        max-height: 1000vh

    section#intro
        transform-style: preserve-3d
        transform: perspective(1000px)
        display: grid
        margin-top: 8rem
        // margin-left: 2rem

        grid-template-columns: repeat(12,1fr)
        // grid-template-rows: repeat( 12,auto)
        // +narrowerthan(800px)
        grid-gap: var(--space)

        grid-template-rows: auto
        height:calc(65vh+10rem)
        width 100%
        box-sizing: border-box
        padding: 0 var(--d-space)
        .copy  
            grid-row: 3/4
            // grid-column: 1/
        h1
            transform: translateZ(20px)
            font-family: var(--pfont)
            justify-self: stretch; 
            align-self: start
            vertical-align: top;
            grid-row: 2/3
            grid-column: 1/5
            // word-break: break-word;        
            // display: grid    
            margin 0
            line-height: 1 
            font-size: 3.9vw
            +narrowerthan(1400px)
                font-size: 5.61rem
            +narrowerthan(500px)
                font-size: 2.441rem

            em
                font-size:  inherit
            span 
                font-size: inherit
                padding-right: .5em
                font-family: inherit
                line-height: inherit            
                
                +narrowerthan(500px)
                    padding-right: 2vw
                    // font-size: inherit
        h4
            font-family: var(--sfont) 
            font-weight: var(--stdWeight) 
            font-size: 1rem 
            line-height: var(--lHeight)
            border-top: solid 1px
            // max-width:  45ch
            // padding-right: 2rem
            box-sizing: content-box 
            // margin-top: .5rem
            +narrowerthan(600px)
                grid-column: 1/-1
                grid-row: auto
            &.desc
                grid-column: 1/5
                // grid-column-end: 2
                grid-row: 3/4
                // +narrowerthanthan(1400px)  
                //     grid-column-end: 6
            &.contact
                grid-column: 3/5
                grid-row: 4/5
            &.loc
                grid-column: 1/3
                grid-row: 4/5 
            &.links
                grid-column: 3/5 
                grid-row 5/6
                display: flex
                flex-wrap: wrap
                a
                    // margin-right: var(--space)
                    margin-right auto
                    flex-basis: 50% 
                    flex-shrink: 1
        #nav-theme-toggle
            grid-column: 1/2
            grid-row 5/6 
            align-self: first-baseline

            +narrowerthan(500px)
                grid-column:  10/12
                padding-bottom: 0


            input#adjust[type=checkbox]
                display: none;  

            
            input[type=checkbox]#adjust + label::before
                content: "Dark side"
                transition: color ease-in .15s
                color: var(--txtcol)
                
                // font-size: inherit 

            input[type=checkbox]#adjust:checked + label::before
                content: "Light side"

        #intro-cover
            overflow: hidden    
            img 
                object-fit: cover
            object-fit: cover
            // right 0
            max-height: calc(6rem + 90vh)
            grid-column: 5/13 
            grid-row: 1/6
            overflow: none
            mix-blend-mode: var(--blend)
            +narrowerthan(1400px)
                grid-row 1/2
                grid-column: 1/-1 
                max-height: 50vh

        h4.links
            font-size: 1rem
            
        +narrowerthan(500px)
            margin: var(--space)
            width: auto
            padding 0
            margin-top: 4rem
            height  auto
            h1 
                grid-row 2/3
                // font-size: 10vw
                margin-top: 1rem
                span
                    font-size: inherit
            h4
                
                padding 0 
                padding 1rem 0 
                grid-row: auto !important
                grid-column: 1/-1
                &.desc
                    grid-column: 1/-1
                &.loc
                    grid-column: 1/7
                &.contact, &.links
                    grid-column: 7/13
            #nav-theme-toggle
                grid-column: 1/7
            #intro-cover
                grid-column: 1/-1

    #projects
        margin-top: 15vh
    #expertise, #projects
        margin-top: 5rem
        display: grid
        grid-template-columns: repeat(12,1fr)
        margin-left: var(--d-space)
        margin-right: var(--d-space)
        grid-gap: calc(var(--space))
        +narrowerthan(1400px)
            grid-template-columns: var(--d-space) 10fr var(--d-space) 

        // .expertise-list
        //     display: flex 
        h4
            grid-column: 1/4 
            // text-align: center 
            font-size: 2rem
            +narrowerthan(500px)
                font-size: 1.5rem

            font-family: var(--pfont)
            font-variation-settings: "wght" 487, "ctrs" 80.6;

        h2.expertise-list
            grid-column: 1/-1
            font-family: var(--pfont)
            font-variation-settings: "wght" 487, "ctrs" 80.6;

            color var(--txtcol)
            // +widerthan(1400px)
            //     @supports (-webkit-text-stroke: var(--txtcol) var(--stroke))
            //         text-stroke:var(--txtcol) var(--stroke)
            //         -webkit-text-stroke: var(--txtcol) var(--stroke)

            //         color transparent
            span
                line-height: 1.25
                font-size: 4vw
                +narrowerthan(1400px)
                    font-size: 2.25rem
                +narrowerthan(500px)
                    font-size: 2rem
                font-family: inherit
                color inherit

            .col-3D 
                text-shadow: 5px 5px var(--pcol)
                // font-size: 2em 
                +narrowerthan(500px)
                    text-shadow: 3px 3px var(--pcol)
            .col-graphic

                // +widerthan(1400px)
                //     @supports (-webkit-text-stroke: 1px blue) 
                //         animation vdesign infinite linear 3s
                //         background -webkit-linear-gradient(40deg, var(--pcol),var(--colB3),var(--colC3),var(--pcol),var(--colB3))
                //         background-size: 100% 800%;

                //         -webkit-text-fill-color: var(--bgcol);
                //         -webkit-background-clip: text;
                //         -webkit-text-stroke: 3px transparent;
                //         color:var(--bgcol) !important
                // 
            .col-photo     
                display: inline-block
                // color var(--txtcol) !important
                span
                    filter: url(#text-distort)


    #index-filter
        margin  var(--d-space)
        
        
        a.grid-item
            // display flexbox
            box-sizing: border-box 
            // box-sizing: content-box 

            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr
            
            &.item50
                width calc(100%*6/12 - 2*var(--side-margin)) 
                +narrowerthan(1000px)
                    width 100%
            &.item33 
                width calc(100%*4/12) 
                +narrowerthan(1000px)
                    width calc(100% - 2*var(--side-margin))
                
            &.item25
                width calc(100%*3/12) 
                +narrowerthan(1000px)
                    width calc(100%*.5 - 2*var(--side-margin))

            .proj-title
                grid-row: 3/4
                transition: filter 250ms ease-in-out
                +narrowerthan(1400px)
                    margin var(--space) 0 0 0
                    padding-bottom: var(--d-space)

                +widerthan(1400px)
                    position: absolute 
                    top 5%
                    bottom: 5% 
                    left 5%
                    right: 5% 
                    filter: blur(8rem)
                    text-align: center
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                h1 
                    // transform: translateZ(20px)F
                    font-size:  2.369rem
                    grid-column: 1/-1  
                    margin 1rem
                    +narrowerthan(1400px)
                        font-size: 2.441rem
                        margin 0
                        margin-top: var(--space)
                    line-height: 1
                    transition: font-variation-settings 200ms ease 
                    transition-delay: 200ms

                    font-variation-settings: "wght" 400, "ctrs" 1;


                .genre 
                    // transform: translateZ(20px)
                    // text-transform: uppercase
                    +narrowerthan(1000px)
                        font-size: .9rem
                    +narrowerthan(500px)
                        font-size: .8rem
 
                    // transition: filter 300ms ease-in

            .project-img 
                // object-fit: cover 
                grid-column: 1/-1
                grid-row: 1/2
                img 
                    object-fit: contain;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    transition: filter 350ms ease-out
                
            &:hover,&:focus
                .proj-title
                    
                    filter: blur(0)
                    h1 
                        font-variation-settings: "wght" 500, "ctrs" 100;
                img
                    filter: blur(1rem) contrast(.8) saturate(1.5) brightness(var(--exposure))
                    // mix-blend-mode: var(--blend)
                // .genre
                //     filter: blur(6rem)
// [data-theme = "dark"]

//     #modeLbl::before, nav#nav2 .caption
        // font-weight 400 !important
        // letter-spacing: .02em !important

@keyframes vdesign 
    0%
    background-position: 0% 0%  
    100% 
        background-position: 0% 100% 


@keyframes vis-design-backup 
    0%
        filter: hue-rotate(calc(360deg/0))

    100% 
        filter: hue-rotate(calc(360deg/1))

