widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

opa = 100% 



#nav-theme-toggle
    height 100% 
    display: flex 
    
    // font-size: 01.05rem
    &:after,&:before
        font-weight: var(--stdWeight)
        transition: background-color ease-out 200ms, font-weight ease-out 200ms, text-underline-offset ease-out 200ms , text-decoration-color ease-out 200ms 
    
    // align-self: last baseline
    // &::after
    //     top -.5em 
    //     height 1em
    //     position static !important  
    //     margin-top: -.25rem  
    

// input#adjust[type=checkbox]
// input#font[type=checkbox]
// input#mobile-input[type=checkbox]
//     display: none;  /* to hide the checkbox itself */

// input[type=checkbox]#adjust+ label:after
//     display: inline;
//     transition: color ease-in .15s
//     letter-spacing: 7px;
//     font-family: "Font Awesome 5 Brands";
//     content: "\f1d1"
//     color: var(--txtcol)
//     top 0
//     // height: 1.5em
//     // width 1em
        
// input[type=checkbox]#adjust:checked + label:after
//     letter-spacing: 7px 
//     font-family: "Font Awesome 5 Brands";
//     content: "\f50e"

input[type=checkbox]#adjust + label::before
    // margin-right: .25rem  
    content: "Dark side"
    transition: color ease-in .15s
    color: var(--txtcol)
    font-variation-settings: "wght" var(--stdWeight)
    // &:hover

input[type=checkbox]#adjust:checked + label::before
    content: "Light side"

label#modeLbl
    z-index 500
    // opacity opa
    font-size inherit
    // height 1em
    


/*--------------positioning------------------*/
*
    box-sizing: border-box 

// nav#nav1 #desk-nav
//     align-items: flex-start
//     align-items: baseline


.name-link
    cursor: url(ex.svg)30 30, auto


    &:hover,&&:focus
        cursor: url(ex.svg)30 30, auto
    
        .name-expand:after
            width 5rem


nav
    #menu-input
        display: none
    // #input:checked + label::before
        
    #menu-label
        display: none;

// +narrowerthan(800px)
//     nav#nav1
//         background-color: var(--bgcol)
//         display: block
//         position fixed
//         margin 0`
//         padding 1rem 1rem 1rem
//         left 0
//         top 0

//         right 0
//         // bottom: 0
//         .nav-holder
//             font-family: var(--qfont)
//         #menu-label

//             margin: .2rem

//             top: 1em;
//             right 1em
//             height 1rem
//             width 1.5rem
//             // border-style: 
//             border  outset 3px var(--bgcol) 
//             border-bottom-style: inset
//             border-top-color: var(--txtcol)
//             border-bottom-color: var(--txtcol)
//             border-right: var(--bgcol) inset;

//             background-color var(--bgcol)
//             transition: all 500ms ease-in-out
//             z-index 400
        
//             display: block
//             position absolute
//             top 1rem
//             right 1rem
//             // opacity: opa
//             transition: opacity 200 ease-in

//             &:hover, &:focus
//                 opacity 100%

//         #desk-nav
//             height 100vh
//             transition max-height .5s ease-in-out
//             position relative
//             max-height: 0
//             overflow: hidden
//             flex-direction: vertical
//             flex-wrap: wrap
//             bottom: 0 
//             // align-content: 
//             align-content: start
//             #nav-links, #nav-theme-toggle 
//                 display: flex
//                 flex-direction: vertical
//                 flex-wrap: wrap
//                 // margin-top: 1rem
//                 flex-basis: 100%
//                 &:after
//                     content: ""  
                
//                 a, label
//                     font-family: var(--pfont)
//                     margin-left: 0
//                     // padding 1rem 0
//                     // flex-basis: 100%
//                     justify-self: left
//                     text-align: left
//                     font-size: 2.6rem   
//                     &:after
//                         content: ""  

    input#menu-input:checked + #menu-label
        height: 1.25rem
        width: 1.25rem
        border-radius: 50px
        // background-color var(--txtcol)
        border solid .125px var(--txtcol) 
        border-top-width: 2.5px
        border-bottom-width: 2.5px 
        margin-right .125rem
        margin-top: -.125rem
        

    #menu-input:checked ~ #desk-nav   
        max-height:200vh
        // height min-content

    #nav-theme-toggle
        height min-content
        label
            padding-bottom: 1rem
         
    .nav-holder #nav-home
        font-family: var(--pfont)
        line-height: .9em
        font-size: 1.3rem 
        transition: font-size .5s ease-in-out, opacity 200ms ease-in
        animation nav-home-expand  .5s reverse
        animation-name: nav-home-expand;
        animation-duration: .5s;
        animation-fill-mode: both
        // opacity: opa
        &:hover, &:focus
            opacity 100%


    #menu-input:checked ~ .nav-holder #nav-home   
        padding-bottom: 1rem
        font-size: 2.6rem
        animation-name: nav-home-expand;
        animation-duration: .5s;
        animation-fill-mode: both
        &:after
            content: "asger Rasheed"
         // font-size: 3rem
        #modeLbl:after
            margin-right: 0
