widerthan(var)
    condition = 'screen and (min-width: %s)' % var
    @media condition
        {block}

narrowerthan(var)
    condition = 'screen and (max-width: %s)' % var
    @media condition
        {block}

opa = 100% 

.top 
    height: 0
    width 100%
nav#nav2
    position: fixed
    left: 0;
    overflow: hidden;
    transition: transform .4s cubic-bezier(.25,.46,.45,.94);
    width: 100%;
    z-index:22;
    box-sizing: border-box
    top 0
    #back-home
        // position: absolute;
        // left 50%
        // top: 5vh;
        padding-right: 3vw

    .title
        
        +narrowerthan(1400px)
            font-size: 1.5rem
        padding-right: 2.7vw
        color inherit
        padding-bottom: .5rem

    .caption, #unfilter

        font-size: .8rem 
        // +narrowerthan(1400px)
        //     font-size: 1.1vw
        text-transform: lowercase;
        letter-spacing: 0.03em
        
        // word-wrap: break-word
        // overflow-wrap: break-word
        max-width: 15ch
        color inherit
    
        
    #top-nav
        transition: transform .4s cubic-bezier(.25,.46,.45,.94) .1s,opacity .4s cubic-bezier(.25,.46,.45,.94) .2s,letter-spacing .5s cubic-bezier(.25,.46,.45,.94);
        padding: var(--d-space) var(--d-space) 0 var(--d-space)
        justify-content: space-between 
        display: flex
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap var(--side-margin);
        backdrop-blur: 5px;
        padding-bottom: var(--space)
        *
            z-index: 22
            position relative
        #nav-filters 
            grid-column: -1/-2
            display: flex
            justify-content: space-between
            flex-basis: 50%
            +narrowerthan(1400px)
                flex-basis: 75%
            // margin: 1rem 1rem 0rem 1rem  
            .nav-item
                
                .caption
                    transition: transform .25s cubic-bezier(.25,.46,.45,.94) .1s,opacity .25s cubic-bezier(.25,.46,.45,.94) .2s
                    z-index: 3
                // margin 0 1rem  
                // display: flex
                // padding: .25rem
    .spacer 
        display: block
        width: 100%
    
    .active 
        font-weight: bold 
    

        
    #menulabel, #mobile-menu, #mobileButton ,
        display: none

    #unfilter
        visibility: none

    +narrowerthan(800px)
        backdrop-filter: blur(8px) brightness(var(--exposure));
        height 4rem
        overflow: unset
        .caption, #unfilter 
            font-size .8rem 
        .title 
            font-size: 3rem
        .space
            // -webkit-backdrop-filter: blur(14px)
            // backdrop-filter: blur(14px)
            z-index: 23
            content: ""
            //  opacity .5
            // -webkit-backdrop-filter: blur(14px)
            backdrop-filter: blur(14px)
            position: fixed
            top 0
            left 0
            // bottom 0 
            // right 0
            height: 100vh
            width: 100vw  
            transition max-height .6s ease-in-out
            max-height: 0vh
        #top-nav
            position relative

            top 0
            left 0
            right 0
            height 100vh
            padding 0
            z-index: 24 
            *
                z-index: 24 


            transition max-height .4s ease-in-out
            position relative
            max-height: 0
            overflow: hidden
            // flex-direction: column
            flex-wrap: wrap
            bottom: 0 
            justify-content: flex-start
            // align-content: 
            background-color: transparent
            align-content: start
            #nav-about, #nav-filters a
                margin-left: 5vw
                margin-bottom: 2vh
                max-width 100%
            #nav-about
                order 2
                justify-self: start; 
            #nav-filters 
                display: flex
                flex-direction: column
                flex-wrap: wrap
                // margin-top: 1rem
                flex-basis: 100%
                
                a
                    justify-self: left
                    text-align: left
                    font-size: 1rem   
                    &:after
                        content: ""  
        
        #menu-input:checked ~ #top-nav   
            max-height:200vh
            overflow-y: hidden;
            // -webkit-backdrop-filter: blur(14px)
            backdrop-filter: blur(8px) brightness(var(--exposure))
            .space
                z-index: 23
                content: ""
                //  opacity .5
                position: fixed
                top 0
                left 0
                // bottom 0 
                // right 0
                height: 100vh
                width: 100vw
                max-height: 100vh  
                // backdrop-filter: blur(15px);
            @css{
                .space{
            background-color: rgba(var(--bgcol-rgb),.6);

                    } 
                }

        #menu-label
            // height 1rem
            display: block

            margin: .2rem

            top: 1em;
            right 1em
            height 1rem
            width 2rem
            // border-style: 
            border  inset 3px var(--bgcol) 
            border-bottom-style: outset
            border-top-color: var(--txtcol)
            border-bottom-color: var(--txtcol)
            border-right: var(--bgcol) inset;
            border-left: var(--bgcol) outset;

            // background-color var(--bgcol)
            transition: all 500ms ease-in-out
            z-index 400
        
            display: block
            position absolute
            top 1rem
            right 1rem
            opacity 1
            transition: opacity 200 ease-in

            &:hover, &:focus
                opacity 100%

// #unfilter
    // display none
#back-home
    display: block
    padding-right: 3vw
    
#unfilter
    display: none

#new-index
    // #unfilter
    //     display grid
    #back-home
        display: none
        
    #unfilter
        display: block
        padding-right: 3vw
// #project
    
#top-nav
    box-sizing: content-box

    *
        transition: font-weight 300ms ease, filter 300ms ease-in-out
        box-sizing: content-box
    #nav-filters a, #nav-about, #nav-filters a .title

    .title
        transition: font-weight 300ms ease, filter 300ms ease-in-out
        font-weight: var(--medWeight)
    .caption
        transition: font-weight 300ms ease, filter 300ms ease-in-out
        font-weight: var(--stdWeight)

    #nav-filters:hover a
        +widerthan(1400px)
            filter blur(4px)

    #nav-filters a:hover,  a#nav-about:hover
        +widerthan(1400px)
            filter blur(0px)
            
            // color var(--customCol)
        // font-weight: 490
        .title
            font-weight: var(--bigWeight)
        .caption
            font-weight: var(--medWeight)
        // &#nav-about, #unfilter

        // &#ux_
        //     // color var(--C1)
        // &#graphic_
        // #photo_
        // #threedee_

        // #other_
 