mixin faList(content)
    li.flex-b
        span()&attributes(attributes)
        = content
        block

mixin img-ll(name,data)
    a(class=name+" img-cont" data-groups=data data-lightbox=data href="imgs/"+name+".jpg") 
        img(class="lazy grid-image", data-src="imgs/"+name+".jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 


mixin rM()
  button.coll-button Read More

<!DOCTYPE html>

html(lang='en')
    head
        include ./includes/head1.pug
        title Gakko - Ali Rasheed

    body.graphic-proj  
        header
        - var home = "/"
        include ./includes/nav2.pug   

        main.grid#project


            section#overview.x12c.grid 
                h1 Gakko Camps 2019
                p.big#summary
                    |A summer program focusing on type-design and new media/film.


                #cover-image.magenta-hover 
                    img(src="imgs/gakko/cover.jpg", alt="venue of camp")
                    figcaption Camp Location in Kanoya, Kagoshima, Japan
                    
 
            section.flex-s.points
                .meta-cont 
                    h6 Context
                    p 4 week contract-based mentorship project in Kagoshima, Japan.

                .meta-cont
                    h6 My Responsibilities
                    ol
                        li Graphic Design
                        li Educational Design
                        li Art Direction
                        li Leadership &amp; Organisational Skills

                div.meta-cont
                    h6 Tools
                    ul
                        li Illustrator
                        li Design Sprints
                    //- h6 Time & Place
                    //- ul
                    //-     li Kagoshima + Fukuoka, Japan
                    //-     li Summer 2019

                div.meta-cont
                    h6 Team
                    .team                   
                        +faList("Ali Rasheed ")(class="fad fa-jedi")
                        
                        +faList("Will Hochman")(class="fad fa-film-alt")

                        +faList("Alexa Gantous")(class="fad fa-tree")
                        
                        +faList("Giordano Margaglio")(class="fad fa-globe-europe")
                        
                        +faList("Veronica Ma")(class="fad fa-book-reader") 
                        
                        +faList("")(class="fad fa-hand-holding-heart")
                            a(class="in-txt" href="https://www.behance.net/liangkay" target="_blank").in-txt Kay Liang 

                        +faList("Lilly Callahan")(class="fad fa-fireplace")

                        +faList("Ian Shimizu")(class="fad fa-tree-alt")

                        +faList("Riku Kurosawa")(class="fad fa-leaf-heart")

                        //- +faList("Kenta Koga")(class="fad fa-wand-magic")

 



            //hr
 

            section.grid.x12c
                h2  The Gist

                h3  Project Context
                
                p        
                    |Gakko brought together a group of mentors from varying industries to Kagoshima, Japan to build from ground up a two-week summer camp experience. 
                    //- This included
                //- ul.
                //-     li.med. Investigations: extensive workshops focusing on the mentors field of interest
                //-     li.med.   Acorns: skill-based workshops
                //-     li.med art direction for the camp 
                //- Workshops were iterated through a series of design sprints; camp guidelines decided collectively. 
             

                figure.
                    img(data-src="imgs/gakko/image5.jpg").maskable.lazy
                    figcaption "Welcome"
    
            section.grid.x12c
                
                h3  My Responsibilities
                
                div.
                p Beyond taking on roles that worked towards the greater functioning of the camp:
                
                ul.
                    +faList("")(class="fad fa-tshirt")    
                        div
                            |I did the graphic design for the  
                            a(class="in-txt" href="#visualdesign") camp t-shirt and venue signage
                    +faList("")(class="fad fa-text") 
                        div
                            |I designed a long-form investigative workshop,   
                            a(class="in-txt" href="#typography") Typography: A Love Story
                    +faList("")(class="fad fa-acorn") 
                        div
                            |I facilitated a number of 
                            a(class="in-txt" href="#acorns")
                                em acorns
                            | - short skill-specific workshops.

            //hr
 


            section.grid.x12c  
                h2 #visualdesign Graphic Design
                h4  The deliverable
                //- div. 
                p I designed the signature annual T-Shirt for 2019. I was given the design constraint of a monochromatic decal as the focus on environmentalism led to the decal being screen-printed on existing t-shirts of students. I decided to explore dual-color designs after seeing kohai experiment with their prints
                figure.mlmr-sect
                    .single-item    
                        .img  
                            img(data-src="imgs/gakko/woman-shirt.jpg" alt="screen printing activity").lazy
                        .img
                            img(data-src="imgs/gakko/a06.jpg").lazy
                        .img
                            img(data-src="imgs/gakko/a05.jpg" alt="screen printing activity").lazy

                    figcaption Variations of screenprints using final design.

                p My enthusiasm and initiative to produce initial mockups led to me being assigned the task of designing the shirt.  
            
            //hr.small

            section.grid.x12c  

                p.
                    |Over the span of camp prep, I iterated on the decal, trying different approaches, but came full circle to a design somewhat similar to the initial direction.
                figure  
                    img(src="imgs/gakko/logo-iterations.png" alt="screen printing activity").maskable
                    figcaption Initial Iterations
                p.
                    |I utilised Gakko’s 
                    a(class="in-txt" href="https://medium.com/@mariogomes/analysis-of-the-ens%C5%8D-symbol-f200f0798692" target="_blank") Ensō-based
                    |logo
                    |   as a constraining structure.
                    mark I focused more on iconography I found uniquely signified 2019's camp 
                    | This included:
                ul.
                    +faList("The ocean around the venue.")(class="fad fa-water")
                    +faList("the active volcano Sakurajima visible on the horizon.")(class="fad fa-volcano ")
                    +faList("Japan, as it was an important milestone for a lot of kohai, who had never travelled internationally before.")(class="fad fa-globe-asia")

                figure.mlmr-sect
                    .single-item 
                        .img
                            img(data-src="imgs/gakko/gakko2019logo2.png" alt="").lazy
                        .img
                            img(data-src="imgs/gakko/color-palette.png" alt="screen printing activity").lazy
                    figcaption Final decal design and screenprint colour palette.
            
            section.grid.x12c
                figure.mlmr-sect
                    .single-item 
                        .img
                            img(data-src="imgs/gakko/image31.jpg" alt="abc").lazy
                        .img
                            img(data-src="imgs/gakko/image30.jpg" alt="sc").lazy
                        .img
                            img(data-src="imgs/gakko/image33.jpg" alt="sc").lazy

            //hr
 

            
            section.grid.x12c
                h2 #typography Workshop 
                h4  Typography: A Love Story
                //- p 
                    |This workshop focused on exploring how typogrpahy influences perception in subtle yet important ways and  how the intricate details of and differences between typefaces defines their characteristics identity.
                p I focused on how typography influences one's perception in ways most people don’t realise, and how the intricacies of typefaces define their identity within our visual culture.

                figure.mlmr-sect
                    .single-item
                        .img
                            img(data-src="imgs/gakko/font/fontFrame01.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame04.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame02.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame03.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame05.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame05-1.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/font/fontFrame05-2.jpg" alt="slide on typography").lazy
                    figcaption Sketches and final digitised versions of glyphs designed in the investigation

                h4  Workshop Development
                p Our invworkshops were put through 
                    mark short design sprints over 2 weeks.
                    | I first defined the purpose,learning objectives for students, and how to keep engagement high throughout.
                    |
                    //- | Then time was spent individually exploring different avenues of how investigations could be experiences within the time slots the investigation was given. 
                    mark I had team members repeatedly user-test my ideas in test workshops.
                    //- | what hooked them on, needed greater clarity and would enkindle further curiosity, etc.
                
                //- div. 
                //-     p The feedback I received included:   
                //-     ol
                //-         li Less teaching to them, more discussing with them so as to promote their own curiosity.
                //-         li Do not let my limited experience with type design constrict what can be tried.
                //-         li The sharing of personal experiences with type were the most resonating.
                //-         li Needs a story arc to follow.
            
                p 
                    |In order to move away from the  
                    a(href="https://www.brighthubeducation.com/teaching-methods-tips/5487-pros-and-cons-of-direct-teaching/" title="THe Pros and Cons of Direct Instruction" target="_blank").in-txt direct instruction
                    |  format I was using - which limits engagemnet with subject matter - I looked at what areas of typography my team resonated with, which were 
                    a(href="https://www.nickkolenda.com/font-psychology/", title="Font Psychology", target="_blank").in-txt perceptual and direct associations
                    |. I used this insight to focus on 
                    mark having students leverage their own socio-cultural associations to prompt discussion, promote empathy across their cultures, through the lens of typography.

                figure.
                    .single-item     
                        .img
                            img(data-src="imgs/gakko/slides/slide_01.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/slides/slide_02.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/slides/slide_03.jpg" alt="slide on typography").lazy
                        //- .img
                            img(data-src="imgs/gakko/slides/slide_04.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/slides/slide_05.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/slides/slide_06.jpg" alt="slide on typography").lazy
                        .img
                            img(data-src="imgs/gakko/slides/slide_07.jpg" alt="slide on typography").lazy
                        .img 
                            img(data-src="imgs/gakko/slides/slide_08.jpg" alt="slide on typography").lazy

                    figcaption Selection of slides from deck shown to kohai to provide context and knowledge to kohai

                p.
                    | I decided on a typeface making exercise, with everyone contributing one glyph each. This introduced collective responsibility along with equal opportunity for expression.


            //hr
 
            section.grid.x12c

                h2 #acorns Acorns
                p Short workshops spanning an hour each with the theme of 
                    mark Tiny Worlds - exploring world-building and big ideas on small scales.
            
                h3  Jewelry Making
                p 
                    |For this acorn, I decided to extrapolate from 20th century artist Marcel Duchamp's 
                    a(href="https://www.moma.org/collection/terms/44" title="Museum of Modern Art's Objet Trouvé Collection" target="_blank").in-txt 
                        em Objet Trouvé
                    |  Found Objects, an art-form where a work's identity is designated by the artist and the work's social history. The were pieces were centered around found objects from a local beach. It asked kohai to
                    mark challenge what they considered valuable,
                    |  and the environmental consequences of devaluing plastic.

                figure.
                    .single-item   
                        .img
                            img(data-src="imgs/gakko/a04.jpg" alt=" ").lazy
                        .img
                            img(data-src="imgs/gakko/a03.jpg" alt=" ").lazy
                    figcaption Jewelry Acorn In-Progress


                figure.mlmr-sect  
                    .single-item   
                        .img
                            img(data-src="imgs/gakko/ring.jpg").lazy
                        .img
                            img(data-src="imgs/gakko/ring-2.jpg").lazy
                        .img
                            img(data-src="imgs/gakko/ring-3.jpg").lazy

                    figcaption Rings made in the workshop 

            //hr.small
            section.grid.x12c  

                h3  Animation
                p I took a  facilitative role for this acorn, coordinating the workshop, and helping with technical aspects such as scanning animation frames.
                <iframe class="mlmr-sect" src="https://www.youtube-nocookie.com/embed/2Xj6dQSK8_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            
            //hr
 


            section.grid.x12c  
                //- h2  
                h2  Guiding Ethos
                //- figure.magenta-hover.
                //-     img(data-src="imgs/gakko/mindmap.jpg").maskable.lazy
                    figcaption Mind Map Portraits
                p We created a set of values to guide our decisions. This established common ground on various ideas between sempai to help with creating collorative workshops for our students.
                //- (workshops co-run by two sempai on a shared idea). It also served the purpose of deepening mutual understanding, which was essential towards running the camp smoothly.
                //- p Progressing from the mind-maps, <mark>we chose a compass, values that would guide our decisions when solving problems</mark>, from during workshop development to space building. After a mass proposal of ideas, we used a process of elimination including checking commonalities among individuals, grouping ideas under various umbrellas and cutting non-essentials. We decided upon four values including:
                figure.magenta-hover.r-sect
                    img(src="imgs/gakko/compass.png") 
                    figcaption Our Compass of Values


            //hr
 

            section.grid.x12c
                h2  Reflection
                //- p.

                    //- |From a higher level perspective, I think the camp was quite successful, from intention to execution. 
                    mark This was my first experience in a mentorship role.
                    | My inexperience lead to moments of error in personal judgement, but it was an experience I greatly value,
                    mark motivating me to seek similar opportunities in the future.
                
                p.
                    |With my typography investigation, Kohai responded positively, saying they had developed a greater appreciation for typography and its impact on visual communication. 
                    mark If I were to do the investigation differently,
                    | I would have alloted more time drilling deeper into the ins and out of actual type design and less focus on its daily impact; and 
                    mark provide clearer constraints and a narrower design focus.
                figure.r-sect 
                    img(data-src="imgs/gakko/image10.jpg").lazy
                    figcaption "Quiet Corridor"   

                p.
                    |A personal goal I did fulfill was 
                    mark showcasing how small things - details - matter and make a difference, whether in type design, photography, jewellery making or anything else.




                //- figure 
                //-     img(data-src="imgs/gakko/team.jpeg").maskable.lazy

        footer 
            include ./includes/footer1.pug