//- ////////MIXINS/////////
mixin img-lazyloaded-lg(name,sequence)
  img(class="lazy photo-img", data-src="imgs/photography-lg/"+name+"/"+sequence+".jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 



//- ///////////ARRAYS/////////   
doctype  
html(lang='en')
  head
    include ./includes/head1.pug
    title Photography - Ali Rasheed
  body.photo.photo-proj 
    - var home = "/"

    header.gallery
      include ./includes/nav2.pug  


    main.gallery 
      h1 Natural Landscapes
          
      section.grid.x2c
        - for(var i=1; i<30; i++)
          +img-lazyloaded-lg("natural",i)
           
          
    footer
      include ./includes/footer2.pug