mixin faList(content)
    li.flex-b
        span()&attributes(attributes)
        = content
        block
mixin faMedPara(content)
    p.med
        span()&attributes(attributes)
        = content
        block
mixin img-ll(name,data)
    a(class=name+" img-cont" data-groups=data data-lightbox=data href="imgs/"+name+".jpg") 
        img(class="lazy grid-image", data-src="imgs/"+name+".jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E") 


<!DOCTYPE html>

html(lang='en') 
    head
        include ./includes/head1.pug
        title TPR Bords De Plateau • Ali Rasheed

    body.graphic-proj   
    
        - var home = "/"
 
        header
            include ./includes/nav2.pug   

        main.grid#project 

            section#overview.x12c.grid

                h1 TPR Bords De Plateau

                p.big#summary An expressive microsite & print assets for Theatre Populaire Romand. 
                p.desc The project provides audiences a backstage look into the motivations driving the theatre's directors, choreographers and musicians. 

                .meta-cont.series1
                    h6 Context
                    p 6 week project completed as part of Senior Experience Design Course in Vancouver, Canada.

                .meta-cont.series2
                    h6 My Responsibilities
                    p Graphic Design, Art Direction, Content Strategy, Interaction Design, Project Management 

                .meta-cont.series1
                    h6 Tools
                    p Figma, Blender

                .meta-cont.series2
                    h6 Deliverables
                    p  Experimental Microsite, Animated Graphic Posters, Wristbands, Tickets


                .meta-cont.series2
                    h6 Team
                    p
                        | Aliasger Rasheed, Keith Lung, 
                        | 
                        a(href="http://www.sfu.ca/~cpa38/KatiePark/index.html").in-txt Katie Park,
                        | 
                        a(href="https://michelleswolfs.myportfolio.com/work/").in-txt Michelle Swolf


            section 
                #cover-image.magenta-hover   
                    img(src="imgs/tpr/cover2.jpg") 
            //- hr
 
 

            section.grid.x12c 
                //- h2  The Gist
                

                    
                h3  Contribution 
                p After conducting project management and art direction/graphic design of print assets in the initial project timeframe, I revisited the project, reframing the content strategy in terms of Bords de Plateau, and 
                    mark redesigned all assets, print and digital  
                    |.

            section.grid.x12c 
                h3  Client
                
                p Theatre Populaire Romand (TPR) is a theatre company in Switzerland that runs performances by independent directors, troupes, choreographers, etc. 
                figure   
                    img(data-src="imgs/tpr/outside.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E").lazy   
                    figcaption Theatre Populaire Romand
                    
            //- hr.small 
            section.grid.x12c 

                h3  Opportunity    

                figure.r-sect.r2.r-6 
                    img(data-src="imgs/tpr/audience.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E").lazy   
                    figcaption In-person session of Bords de Plateau
                   
                p 
                    |Theatre Populaire Romand holds post-performance sessions called Bords de plateau where the audience members can interact with artists as they leave the stage. 

                p However, as this is limited to specific shows and is post-performance leading to an opportunity:
                p.med to engage the curiosity and questions of theatre-goers before perfomances begin.


            
            //hr 


            section.grid.x12c 

  

                h2  Proposed Digital &amp; Graphic Assets
                //- h3  Bords De Plateau Ephemera
                h3  Animated Graphic Posters
                //- p We began this project through graphic exploration to find a unique way of presenting the client. We looked at design studios and historic designers, extracting design principles and qualities from precedents. Thus we landed on the following three design qualities:
                figure.lr-sect.flex 
                    video(src="imgs/tpr/poster-round.mp4", autoplay, muted, loop, preload="auto", poster="imgs/tpr/poster-round.jpg").shad

                    video(src="imgs/tpr/poster-square.mp4", autoplay, muted, loop, preload="auto", poster="imgs/tpr/poster-square.jpg").shad   
                    
                    video(src="imgs/tpr/poster-mixed.mp4", autoplay, muted, loop, preload="auto", poster="imgs/tpr/poster-mixed.jpg").shad   


                h3  Ticket 
                //- figure.mlmr-sect    
                figure
                    img(data-src="imgs/tpr/ticket.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8'%3E%3C/svg%3E").lazy   
                    //-     .img
                h3 Wristband
                figure

                    img(data-src="imgs/tpr/wristband.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8'%3E%3C/svg%3E").lazy   

                        //- .img  
                //- figure.mlmr-sect   
                //- h4  Wristband  

  
                //- figure.mlmr-sect   
 
            section.grid.x12c 
                h2  Bords De Plateau Microsite 
                h3  Landing Page  
                p 
                    | The landing page establishes the types of masks and colour palettes used to differentiate between musicians, choreographers & directors.
                figure.mlmr-sect 
                    video(src="imgs/tpr/home.mp4", muted, loop, preload="auto", controls, poster="imgs/tpr/home.jpg").shad   
                
                h3  Navigation  
                p Navigation hover generates chunks of related content; showing the connection of elements to the procedural origin
                figure.mlmr-sect
                    video(src="imgs/tpr/nav.mp4", muted, loop, preload="auto", controls, poster="imgs/tpr/nav.jpg").shad   
                h3  Content Page  
                p 
                    |Background typography masks images revealed through hover interactions. This ongoing interaction continuously suggests that there is more content to be uncovered ont the person and their work.
                figure.mlmr-sect
                    video(src="imgs/tpr/content.mp4", muted, loop, preload="auto", controls, poster="imgs/tpr/content.jpg").shad   


            //- hr.small
            section.grid.x12c 
                h2  Art Direction & Content Strategy
            section.grid.x12c
                h3  A Design-driven Approach


                p We began this project through graphic exploration to find a unique way of presenting the client. We looked at design studios and historic designers, extracting design principles and qualities from precedents. Thus we landed on the following three design qualities

 
                +faMedPara("Contrasting type with scale and transparency to produce multiple distinct reading flows, encouraging deeper engagement")(class="fad fa-text-size ")
                +faMedPara("The weaving of typographic & graphical elements to disrupt the flow of reading to invoke curiousity and encourage further exploration of the work.")(class="fad fa-scarf ")
                +faMedPara("Overlapping grid structures to prompt surprise and intrigue. This generates dynamic forms that challenge the viewer’s perception of structure.")(class="fad fa-th ")

                figure.r-sect.r2.r-8   
                    .manual-swipe   
                        .img
                            img(data-src="imgs/tpr/precedents2.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E").lazy   
                            figcaption 
                                strong Contrasting type. 
                                |   Precedents from: Studio Joost Grootens 
                        .img
                            img(data-src="imgs/tpr/precedents3.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E").lazy   
                            figcaption 
                                strong Weaving elements. 
                                |  Precedents from: Dmitri Jeannotat, Arata Kubota, Wolfgang Weingart
                        .img
                            img(data-src="imgs/tpr/precedents1.jpg",src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 3'%3E%3C/svg%3E").lazy   
                            figcaption 
                                strong Overlapping grids. 
                                |  Precedents from: Armin Hoffman, Emigré 
 
                //- figure    
 
            //- hr.small 

            section.grid.x12c
                figure   

                h3  Lateral Explorations
                p 
                    |We began with a lateral exploration of these design principles, with three potential approaches. We moved forward with Approach 1.
                figure.mlmr-sect.shad
                    .manual-swipe  
                        .img
                            img(data-src="imgs/tpr/lateral1.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
                        .img
                            img(data-src="imgs/tpr/lateral2.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
                        .img
                            img(data-src="imgs/tpr/lateral3.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
                        .img
                            img(data-src="imgs/tpr/lateral4.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
                        .img
                            img(data-src="imgs/tpr/lateral5.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
  
                        .img
                            img(data-src="imgs/tpr/lateral6.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
  
                        .img
                            img(data-src="imgs/tpr/lateral7.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy    
            //hr.small

            section.grid.x12c
                h3  Interaction Explorations
                p 
                    |We then explored expanding our art direction through interaction design as the microsite would need. We took characteristics from all three iterations in our final direction.
                figure.mlmr-sect.shad
                    .manual-swipe  
                        .img
                            img(data-src="imgs/tpr/approach1.gif", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   

                        .img
                            img(data-src="imgs/tpr/approach2 gif", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   
    
                        .img
                            img(data-src="imgs/tpr/approach3 gif", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   

            //hr.small

            section.grid.x12c
                h3  Strategy
                p  Our content strategy extends the purpose of the original Bord De Plateau, to answer theatre-goers' questions and curiosity on the vision of showrunners and impresarios of performances through deep dives on them and their work.

                h3  Final Art Direction 

                p Progressive revealing of content using procedural collaging overlapping with grids to create an intriguing and yet ordered composition.

                figure.mlmr-sect.shad
                    .manual-swipe  
                        .img
                            img(data-src="imgs/tpr/art_direction.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   
                        .img
                            img(data-src="imgs/tpr/typography.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   

                //- ol. 
                //-     li  Use denial and reward to prompt further exploration of showrunners 
                    li Through viewer input, graphic assets and desired information is surfaced and thus facilitating active participation

            section.grid.x12c#decisions
                h2  Design Decisions • Reflection
                h4  Reframing Content Strategy • Reconsidering Purpose.
                p Beginning with a design-driven approach and then considering content strategy was difficult to frame meaningfully. I recognised a tendency in our team to force purpose and content onto the microsite, thus prompting a reframe &amp; redesign. It began with restarting research to find a framing opportunity, which came through Bords De Plateau. I then incorporated other feedback, and dived deep into my initial colour explorations, landing with my final deliverables.  
            section.grid.x12c#decisions  
                h4  Procedural vs Compositional
                p A consistent critique that I received in the original iterations was addressing the seemingly arbitrary nature of our compositions. 
                    mark My redesign addresses this by using typography that emulates procedural patterns
                    |, reducing abstraction while reinforcing my art direction principle of layers of meaning.
                figure.r-sect 
                    img(data-src="imgs/tpr/comparison.jpg", src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E").lazy   
                    figcaption Right: Original abstract pattern. Left: Grounded typographic pattern using words "tpr" to mask image.


        footer 
            include ./includes/footer1.pug  